.group-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  width: 300px;
}

.group-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.buttons button {
  flex: 1;
  background:  linear-gradient(to right, #00C181 , #00AD6F );;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.buttons button:hover {
  background: #69dbc7;
  color: white;
}